.loginpage{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    background-image: url("https://png.pngtree.com/background/20230613/original/pngtree-the-email-icon-in-red-and-black-picture-image_3373652.jpg");
}

.loginimg {
    background-color: whitesmoke;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transform: translateY(-80px);
}

.login_button {
    background-color: #4385f5;
    border: 0;
    padding: 15px 30px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
}