.App{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-height: fit-content;
    min-width: fit-content;
    background-size: cover;
    opacity:1;
    color: white;
    background-image: url("https://e0.pxfuel.com/wallpapers/105/984/desktop-wallpaper-gmail-carbon-logo-grunge-art-carbon-background-creative-gmail-black-logo-brands-gmail-logo-gmail.jpg");
    opacity: 1;
}

.sidebar__body{
    display: grid;
    grid-template-columns: 250px auto 20px;
  }